{% extends "base.html" %}
{% block content %}

    <article>
        <main>
            <h2>View tickets</h2>
        
        {% for ticket in all_tickets %}
            <ul>
                <li>Ticket ref. n. {{ ticket.id }}</li>
                <li>Created on {{ ticket.date_subm}}</li>
                <li>Product: {{ ticket.product }}</li>
                <li>Bug: {{ ticket.bug }}</li>
                <li>User: {{ ticket.user }}</li>
                <li>Status: {{ ticket.ticket_status }}</li>
                <li><a href="/">Edit ticket</a></li>        
            </ul>
        {% endfor %}

        </main>
    </article>

    
{% endblock %}