{% extends "base.html" %}
{% block content %}

    <article>

        <main>

            <br><h2>Developers Menu</h2>
            
            <h3 style="color: dodgerblue"><br>Tickets</h3>
            <ul>
                <li><a href="/ticket">View/Edit Tickets</a></li>
            </ul>

            <h3 style="color: dodgerblue"><br>Bugs</h3>
            <h4>Add new Bug</h4>
            
                <form action="bug_info/new" method="post">
                    <ul>
    
                        <li>
                            <label for="bug-name">Short Description: </label>
                            <input type="text" name="short_name" id="bug-name">
                        </li>
    
                        <li>
                            <label for="bug-description">Details: </label>
                            <input type="text" name="description" id="bug-description">
                        </li>
    
                        <li>
                            <label for="bug-product">Product: </label>
                            <select name="product_id" id="bug-product">
                                <option value="1">GeniusPDF</option>
                                <option value="2">Diamond Scan</option>
                                <option value="3">docuMental</option>
                                <option value="4">Omniconverter</option>
                            </select>    
                        </li>
    
                        <li>
                            <label for="bug-date">Date: </label>
                        </li>
                        <li>
                            <input type="text" name="first_reported" id="bug-date">
                        </li>
    
                    </ul>
                    <button>Submit</button>
                </form>
    
                <h3 style="color: dodgerblue"><br>Products</h3>

                <h4>Add new Product</h4>
        
                    <form action="product_info/new" method="post">
                        <ul>
                            <li>
                                <label for="product-name">Name: </label>
                                <input type="text" name="name" id="product-name">
                            </li>
                        </ul>
                        <button>Submit</button>
                </form>
            
                <ul> 
                    <li><a href="../user_info"><br><br>See all Users</a></li>
                    <li><a href="/">Back to the Home Page</a></li>
                </ul>
        
        </main>

    </article>

{% endblock %}