{% extends "base.html" %}
{% block content %}

        <article>

            <main>
                <br><h2>Access your user menu</h2>
                <ul>
                    <li>
                        <h3><a href="../user_tech">Tech Support access</a></h3>
                        <h3><a href="../user_dev">Developer access</a></h3>
                        <h3><a href="../user_adm">System Admin access</a></h3>
                    </li>
                </ul>    
            </main>

        </article>

{% endblock %}